.fieldset {
  display: flex;
  align-items: flex-end;
  border: none;
  margin: 0;
  padding: 0;
}

.label {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  padding: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}

.input {
  min-width: 390px;
  margin-right: 15px;
  padding: 12px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 140%;
  border: 1px solid var(--black);
  border-radius: 4px;
  cursor: pointer;
}

.image {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 60px;
    left: -85px;
    width: 56px;
    height: 36px;
    background-image: url("../../img/arrows.svg");
  }
}

.select {
  padding: 7px 38px 7px 15px;
  appearance: none;
  font-size: 30px;
  line-height: 42px;
  border: 1px solid var(--black);
  border-radius: 4px;
  background-image: url("../../img/caret.svg");
  background-repeat: no-repeat;
  background-position: 86% center;
  cursor: pointer;
}
