.item {
  display: flex;
  font-size: 18px;
  line-height: 130%;

  &:nth-child(n+6) {
    justify-content: flex-end;
  }
}

.date {
  margin-right: 40px;
}

.amountFrom {
  position: relative;
  padding-right: 66px;

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 13px;
    width: 41px;
    height: 18px;
    background-image: url("../../img/arrow.svg");
  }
}

.amountTo {
  width: 110px;
  margin: 0;
}

