.input {
  height: 60px;
  width: 390px;
  margin-right: 15px;
  padding: 16px 70px 12px 12px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 140%;
  border: 1px solid var(--black);
  border-radius: 4px;
  background-image: url("../../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

