.section {
  padding-bottom: 110px;
}

.wrapper {
  padding: 43px 70px 38px 70px;
  background-color: var(--gray);
}

.title {
  margin: 0 0 13px 0;
  color: var(--black);
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
}

.button {
  padding: 15px 27px;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  background-color: var(--blue-2);
  color: var(--gray);
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background-color: red;
  }
}
